@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Plus+Jakarta+Sans:wght@200;400;500;600;800&display=swap');

.bisma{
    background-color: #990038;
}


@layer components{
    .button-nav{
        @apply text-[14px] md:text-[16px] lg:text-[20px] text-center items-center  rounded-[3px] px-3 py-1 md:px-4 md:py-2 lg:px-5 lg:py-2 focus:ring-4 focus:outline-none focus:ring-secondary transition duration-300 ease-in;
    }
    .button-nav2{
        @apply text-lg text-center items-center rounded-[3px] w-full justify-center py-3 focus:ring-4 focus:outline-none focus:ring-secondary transition duration-300 ease-in;
    }
    .menuNav{
       @apply block py-2 pl-3 pr-4 text-white hover:underline hover:underline-offset-[10px] hover:decoration-2 transition duration-300 ease-in;
    }
    .act-btn{
        @apply font-semibold text-pinkPrime text-[18px] md:text-[20px] lg:text-[24px] px-4 py-2 md:px-6 md:py-3 rounded-[3px] text-center items-center transition duration-300 ease-in;
    }
    .button-prod{
        @apply hover:bg-darkPrime focus:ring-4 focus:outline-none focus:ring-secondary font-medium rounded-lg text-[14px] md:text-[16px] lg:text-[20px]  py-3 inline-flex justify-center w-full text-center transition duration-300 ease-in;
    }
}
